footer.site-footer
  .container
    .site-footer__brand
      p.site-footer__logo Lyzfol
      p.site-footer__tag Archival broadsheet journalism, rigorous standards, independent investigative integrity.
    .site-footer__legal
      p © #{Time.current.year} Lyzfol Publishing Group. All rights reserved.
      nav.site-footer__links
        = link_to 'Privacy Policy', privacy_path
        = link_to 'Terms and Conditions', terms_path
