doctype html
html lang="#{I18n.locale}"
  head
    title = page_title
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content=page_description
    link rel="canonical" href=canonical_url
    - if controller_name == 'articles' && @post
      meta property="og:title" content=@post.title
      meta property="og:description" content=@post.meta_description
      meta property="og:type" content="article"
      meta property="og:url" content=canonical_url
      script type="application/ld+json"
        == news_article_jsonld(@post)

    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""
    link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700&display=swap" rel="stylesheet"
    = stylesheet_link_tag "application.min", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = csrf_meta_tags
    = csp_meta_tag

  body
    #flash
      = render 'layouts/flash'
    .site
      = render 'layouts/header'
      main
        = yield
      = render 'layouts/footer'
